<header class="site-header" role="banner" style="color:blue;">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}"><img border="0" alt="clast logo" src="{{ "/assets/cover.png" | relative_url }}" width="100" height="50"></a>

    {%- if page_paths -%}
    <nav class="uk-navbar-container">
                <div class="uk-container uk-container-expand">
                    <div uk-navbar>

                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="#">Active</a></li>
                            <li>
                                <a href="#">Parent</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Active</a></li>
                                        <li><a href="#">Item</a></li>
                                        <li><a href="#">Item</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#">Item</a></li>
                        </ul>

                    </div>
                </div>
    </nav>
    {%- endif -%}
  </div>
</header>
