<header>

    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- if page_paths -%}
    <nav class="uk-navbar-container">
                <div class="uk-container uk-container-expand">
                    <div uk-navbar>
                        <div class="uk-navbar-left">
                            <a class="uk-navbar-item uk-logo" href="#"><img src="{{ "/assets/logo_assets/navbar_logo.png" | relative_url }}" class="navbar-logo" id="navbar-logo"></a>
                        </div>

                    </div>
                </div>
    </nav>
    {%- endif -%}
</header>
