<header>

    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- if page_paths -%}
    <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200" class="color-1">
    <nav class="uk-navbar-container color-1">
        <div class="uk-container uk-container-expand">
            <div uk-navbar>
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="#"><img src="{{ "/assets/logo_assets/navbar_logo.png" | relative_url }}" class="navbar-logo" id="navbar-logo"></a>
                </div>
            </div>
        </div>
    </nav>
    </div>
    {%- endif -%}
</header>
