
/* Sticky Footer Classes */

html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1 0 auto;
  }
  #footer {
    flex-shrink: 0; 
  }


/* Navbar Classes */

#navbar-logo {
    padding: 0;
    height:17%;
    width:17%;
}

.nb-color {
    background-color: #272727;
}

/* Color pallete */

/* background color*/
.bg-black {
    background-color: #272727;
}

.bg-grey {
    background-color: #747474;
}

.bg-orange {
    background-color: #FF652f;
}

.bg-yellow {
    background-color: #FFE400;
}

.bg-greensea {
    background-color: #14A76C;
}

/* text color */
.text-black {
    color: #272727;
}

.text-grey {
    color: #747474;
}

.text-orange {
    color: #FF652f;
}

.text-yellow {
    color: #FFE400;
}

.text-greensea {
    color: #14A76C;
}

/* Links/Button */

.lb-orange:link, .lb-orange:visited {
    color: #f8f9fa;
}

.lb-orange:hover, .lb-orange:active {
    color: #FF652f;
}

.lb-yellow:link, .lb-yellow:visited {
    color: #f8f9fa;
}

.lb-yellow:hover, .lb-yellow:active {
    color: #FFE400;
}

.lb-greensea:link, .lb-greensea:visited {
    color: #f8f9fa;
}

.lb-greensea:hover, .lb-greensea:active {
    color: #14A76C;
}