---
layout: default
---

{{ content }}


{%- if site.posts.size > 0 -%}



<!--General section-->
<!--Start catagories-->
{% for tag in site.categories %}
<!--Opinion-->
{% if tag[0] == "opinion" %}
<div class="my-3">
  <div class="card-header-custom bg-yellow">Opinion</div>
  <div class="card-group">
    {% assign pages_list = tag[1] %}
    {% assign post_count = 0 %}
    {% for post in pages_list %}
    {% assign post_count = post_count | plus: 1 %}
    {% if post_count == 5 %}
    {% break %}
    {% endif %}
    <div class="card ">
      <img src="{{ "/assets/post_thumbmails/test.png" | relative_url }}" class="card-img-top" alt="Post Thumbmail">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text"> {{ post.description }}</p>
        <p class="card-text"><small class="text-muted">{{ post.date }}</small></p>
      </div>
    </div>
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </div>
</div>
{% endif %}

<!--Exploiting-->
{% if tag[0] == "exploiting" %}
<div class="my-3">
  <div class="card-header-custom bg-greensea">Exploiting</div>
  <div class="card-group">
      {% assign pages_list = tag[1] %}
      {% assign post_count = 0 %}
      {% for post in pages_list %}
      {% assign post_count = post_count | plus: 1 %}
      {% if post_count == 5 %}
      {% break %}
      {% endif %}
    <div class="card">
      <img src="{{ "/assets/post_thumbmails/test.png" | relative_url }}" class="card-img-top" alt="Post Thumbmail">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text"> {{ post.description }}</p>
        <p class="card-text"><small class="text-muted">{{ post.date }}</small></p>
      </div>
    </div>
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </div>
</div>
{% endif %}

<!--Programming-->
{% if tag[0] == "programming" %}
<div class="my-3">
  <div class="card-header-custom bg-orange">Programming</div>
  <div class="card-group">
      {% assign pages_list = tag[1] %}
      {% assign post_count = 0 %}
      {% for post in pages_list %}
      {% assign post_count = post_count | plus: 1 %}
      {% if post_count == 5 %}
      {% break %}
      {% endif %}
    <div class="card">
      <img src="{{ "/assets/post_thumbmails/test.png" | relative_url }}" class="card-img-top" alt="Post Thumbmail">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text"> {{ post.description }}</p>
        <p class="card-text"><small class="text-muted">{{ post.date }}</small></p>
      </div>
    </div>
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </div>
</div>
{% endif %}

{% endfor %}
{%- endif -%}